flow.json
[{"id":"16e3a0e0.cc17af","type":"tab","label":"API - Video","disabled":false,"info":""},{"id":"6aa6157c.e98854","type":"http response","z":"16e3a0e0.cc17af","name":"","x":820,"y":134.99998474121094,"wires":[]},{"id":"1b9b0e04.a160da","type":"function","z":"16e3a0e0.cc17af","name":"Montando resposta","func":"if(msg.payload.output.text[0]==\"Luz\")\n{\n    if(context.global.luz<70)\n    {\n                  \n        msg.payload = \n        {\n\n                output:{text:[\"Analisando o dado do sensor, finalmente o Zeca está trabalhando! \" ]},\n                context:msg.context\n        };\n    }\n    else\n    {\n        msg.payload = \n        {\n                output:{text:[\"Poxa, analisando o sensor eu vejo que o Zeca foi tomar outro café \"]},\n                context:msg.context\n        };\n\n    }\n}\nelse if(msg.payload.output.text[0]==\"Temperatura\")\n{\n    msg.payload = \n    {\n        output:{text:[\"A temperatura lida pelo sensor está em\" + [context.global.temp]+ \" graus\"]},\n        context:msg.context\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":643.2051391601562,"y":138.12815856933594,"wires":[["6aa6157c.e98854"]]},{"id":"6fa22ef8.e70f68","type":"change","z":"16e3a0e0.cc17af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.input.text","tot":"msg"},{"t":"set","p":"context","pt":"msg","to":"req.body.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":267.5383605957031,"y":138.9059600830078,"wires":[["552d4b27.68d30c"]]},{"id":"552d4b27.68d30c","type":"watson-conversation-v1","z":"16e3a0e0.cc17af","name":"","workspaceid":"f319ea91-a3bf-49e5-84bb-951cc32f131b","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":446.0939636230469,"y":137.57260131835938,"wires":[["1b9b0e04.a160da"]]},{"id":"61b495e3.cf29fc","type":"ibmiot in","z":"16e3a0e0.cc17af","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"247189e87e04","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":96.37167358398438,"y":331.17266845703125,"wires":[["bb7d3a77.300588","f800d6ff.56acd"]]},{"id":"bb7d3a77.300588","type":"function","z":"16e3a0e0.cc17af","name":"Salvar dados no contexto","func":"context.global.temp = context.global.temp || 0;\ncontext.global.luz = context.global.luz || 0;\ncontext.global.luz = msg.payload.d.light;\ncontext.global.temp = msg.payload.d.ambientTemp;\nreturn msg;","outputs":1,"noerr":0,"x":295.3716125488281,"y":331.5726318359375,"wires":[[]]},{"id":"3a929b39.762f3c","type":"http in","z":"16e3a0e0.cc17af","name":"","url":"/video","method":"post","upload":true,"swaggerDoc":"","x":96.64944458007812,"y":138.57261657714844,"wires":[["6fa22ef8.e70f68"]]},{"id":"fd61ac67.f2d6e","type":"comment","z":"16e3a0e0.cc17af","name":"API","info":"","x":111.38890584309894,"y":68.77779642740884,"wires":[]},{"id":"da79cf1c.049318","type":"comment","z":"16e3a0e0.cc17af","name":"Watson IoT Platf.","info":"","x":135.13888549804688,"y":261.8055419921875,"wires":[]},{"id":"fb1760ac.0cf9c","type":"function","z":"16e3a0e0.cc17af","name":"","func":"if(msg.payload < 70){\nmsg.payload = \"https://scontent-gru2-1.xx.fbcdn.net/v/t35.0-12/s2048x2048/25552523_1429873280468852_136418381_o.jpg?oh=1fb75633c94038fa48d1abf707e8aaa7&oe=5A5065F9\";\n}else{\n    msg.payload = \"https://scontent-gru2-1.xx.fbcdn.net/v/t35.0-12/s2048x2048/26653595_1445267735596073_405468536_o.jpg?oh=f15fd06432e72bc475a78e35157dc779&oe=5A5043D4\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":463.6111145019531,"y":426.2778015136719,"wires":[["a9a9d995.e932a","305a7700.e13dc8"]]},{"id":"f800d6ff.56acd","type":"change","z":"16e3a0e0.cc17af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.light","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.27777099609375,"y":424.6111145019531,"wires":[["fb1760ac.0cf9c"]]},{"id":"a9a9d995.e932a","type":"debug","z":"16e3a0e0.cc17af","name":"","active":true,"console":"false","complete":"payload","x":655.27783203125,"y":509.6109619140625,"wires":[]},{"id":"305a7700.e13dc8","type":"ui_template","z":"16e3a0e0.cc17af","group":"5b631002.73c69","name":"","order":0,"width":"6","height":"8","format":"<img src=\"{{msg.payload}}\" alt=\"Status\" height=\"900\" width=\"260\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":646.111083984375,"y":425.9443054199219,"wires":[[]]},{"id":"5b631002.73c69","type":"ui_group","z":"","name":"O Zeca está aí?","tab":"afa19456.d59e5","disp":true,"width":"6"},{"id":"afa19456.d59e5","type":"ui_tab","z":"","name":"Video","icon":"dashboard"}]